.app {
  color: white;
  background: #0d0d0d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
}